[Desktop Entry]
Name=Screen Ruler
Comment=Screen Ruler (gruler)
Exec=gruler
Icon=/usr/share/pixmaps/gruler-icon.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Utility

